.navigation {
    order: 1;
    flex: 1 0 auto;
    height: 100%;
    list-style: none;
    margin: 0;
    font-size: 100%;

    display: flex;
    flex-flow: row wrap;
}

.appname {
  font-size: 120%;
  font-weight: bold;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #9d9d9d;
}

.activelink {
  color: white !important;
  background-color: black;
}

.navigation a:active {
  color: white;
  background-color: black;
}

.navigation a:hover {
    color: white;
}
@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}
@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}


.navigation-list-index-element {
  order: 1;
  flex: 0 0 auto;
  align-self: center;
}

.navigation-list-about-element {
  order: 2;
  flex: 0 0 auto;
  align-self: center;
}

.navigation-list-contact-element {
  order: 3;
  flex: 0 0 auto;
  align-self: center;
}

.navigation-list-user-element {
  order: 4;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: 2%;
  padding: 0 !important;
  align-self: center;
  font-size: 150%;
}
